@import '../../global.scss';
.about-page {
    border: 1px solid #ddd;
    background: #ddd;
    padding: 30px;
    h2{
        font-size: $fontsizeHeadding;
        color: $headding-color;
        font-family: $fontFamilyOswald;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p{
        @include content-style();
    }
}