@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.area{
  max-width: 550px;
  margin: 0px auto;
  margin-top: 40px;
}
ul.menu {
  list-style: none;
  background: #000;
  text-align: center;
  padding: 12px 0px;
}
ul.menu li{
  display: inline-block;
}
ul.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  display: inline-block;
  font-weight: 600;
}